/* ====== TIPOGRAFÍA Y VARIABLES ====== */
:root {
  --primary: #26a69a;
  --secondary: #007bff;
  --bg-light: #f5f5f5;
  --text-dark: #333;
}


html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
.body-login {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;  
  /* background: linear-gradient(#f7f7f7, #184321); */
  background: linear-gradient(#f7f7f7, #26a69a);
}

main {
  position: relative;
  min-height: 645px;
}
.gradient-45deg-grey-deep-darken {
  background: -webkit-linear-gradient(45deg, #757575, #212121) !important;
  background: linear-gradient(45deg, #757575, #212121) !important;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  top: 26px !important;
  max-height: 86%;
  width: 98%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
label{
  color: black!important;
}
#datosTable {
  display: table;
  width: 95%;
  padding: 5px;
  margin: 4px;
  background-color: #fff;
  padding-bottom: 20px;
}
#datosTable .div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
#datosTable .btn-large {
  height: 40px;
  line-height: 45px;
  width: 100%;
  font-size: 15px;
  padding: 0 28px;
}
#datosTable .div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  padding-bottom: 5px;
  font-weight: bold;
}
#datosTable .div-col-left {
  background-color: #f3ecec;
  padding-bottom: 25px;
  padding-top: 25px;
  font-weight: bold;
}
#datosTable .div-col-right {
  background-color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
.div-col-right .contenido {
  display: block;
  width: 100%;
  background-color: #c1c0c0;
  padding: 6px;
  margin: 0;
  border: 1px solid #818181;
  border-radius: 8px;
}
#datosTable .textUpp {
  text-transform: uppercase;
}
#datosTable hr {
  background-color: #f5f2f2;
}
.modal .modal-content {
  padding: 1px;
}
.header-modulos {
  text-align: center;
  color: #000;
  padding: 10px 0;
  margin: 0 0 5px 0;
  text-shadow: none !important;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 96%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* 4 columnas por defecto (Large and up) */
  gap: 15px; /* Espacio entre elementos */
}

.articulo-titulo, .container-img h4 {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}
#lista-articulo {
  padding: 0 10px;
}
#totalregistros {
  padding-bottom: 8px;
  font-weight: bold;
  margin-left: 377px;
}
#totalregistros,
#vistabusqueda {
  margin-bottom: 20px;
}

.container-img {
  position: relative;
  width: 100%;
}

.container-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
}
.flotante-acciones {
    position: absolute;
    bottom: 215px;
    right: 10px;
    width: 37px !important;
    background: #bfbbbb94;
    border-radius: 16px;
    padding-top: 23px!important;
    border: solid 1px #c1c1c1a8;
    margin-left: 12em;
}
.link-flotante-acciones-forklift{
    width: 71%!important;
    padding-bottom: 9px!important;   
    margin-left: 5px!important;
}
.link-flotante-acciones-bar-code{
    width: 78%!important;
    padding-bottom: 10px!important;    
    margin-left: 3px!important;
}

.link-flotante-acciones-information{
    width: 70%!important;
    padding-bottom: 10px!important;    
    margin-left: 4px!important;
}


#lista-articulo a {
  text-decoration: none;
}

#lista-articulo table {
  width: 100%;
  border-collapse: collapse;  
}
#lista-articulo td, #lista-articulo th {
  padding: 8px;
}

#lista-articulo .container-img {
  border-radius: 10px; 
  border: 1px solid #dedede;
  margin: 5px; 
  box-sizing: border-box;
}
#lista-articulo .articulo-titulo {
  font-size: 15px;
  color: #000 !important;
  margin-left: 21px;
}
#lista-articulo h4 {
  color: #000 !important;
  margin: 5px 21px;
  font-size: 13px;
  min-height: 63px;
}
#lista-articulo h6 {
  margin: 0;
  padding: 0;
} 

#lista-articulo .cabecera {
  background: #535262;
  color: #fff;
  padding: 7px 0;
  text-shadow: none;
}


.mi-tienda {
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  font-weight: bold;
  z-index: 100;
  
  position: absolute;
  bottom: 10px;
  left: 10px;

  background: #26a69a;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  font-size: 14px !important;
}
#detallesProducto #detalleArticulo {
  padding: 0 0 15px 0;
  margin: 5px 0 15px 0;
  font-size: 18px;
}
#detallesProducto #detalleCantidadTexto {
  font-size: 13px;
  padding: 2px 0 8px 0;
  margin: 0px;
  clear: both;
  font-weight: bold;
}
#detallesProducto #detalleDescripcion {
  font-size: 14px;
  padding: 2px 0 8px 0;
  margin: 0px;
  clear: both;
}
#detallesProducto .row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  min-height: 1px;
}
#detallesProducto #detallesPreciosTexto {
  font-size: 13px;
  margin: 10px 0;
  clear: both;
  font-weight: bold;
  display: flex;
  color: #000;
}
#detallesProducto hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-bottom: solid 1px #f5f5f5;
}
.page-footer {
  position: fixed;
  padding-top: 0px;
  color: #fff;
  background-color: #e09090;
}
#header {
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
#notas {
  padding-top: 25px;
  padding-left: 9px;
  padding-left: 9px;
  text-align: justify;
  position: relative;
}

.marcas-link-listado {
  display: table;
  width: 100%;
}
.marcas-link-listado li {
  width: 48%;
  display: inline-block;
  padding: 1px;
  margin: 2px;
  position: relative;
}
.marcas-link-listado .btn-marca {
  width: 100%;
  background-color: #dedede !important;
  color: #000;
}
.marcas-link-listado .btn-secondary {
  width: 100%;
  background-color: #dedede;
  color: #000;
  border-color: #6c757d;
}

.marcas-link-listado .btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:checked,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secondary {
  color: #000;
  background-color: #dedede;
  border-color: #6c757d;
}
.btn-outline-primary {
  width: 100%;
  color: #000;
  background-color: #dedede;
  border-color: #6c757d;
}
.btn-outline-primary:hover {
  color: #000;
  background-color: #dedede;
  border-color: #6c757d;
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:checked,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #6c757d;
}
.card-panel1 .collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: -1.5rem 0 1rem 0;
}

#carrito {
  width: 95%;
  right: 0;
  top: 48px !important;
}
#carrito .check-price {
  border: solid 2px #cecbcb;
}
#carrito table {
  border-collapse: collapse;
  font-size: 11px;
}

#carrito th {
  background-color: #f90f00;
  color: #fff;
  padding: 8px;
}
#carrito td {
  text-align: left;
}

#carrito td,
th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
.simpleCart_items .headerRow th,
.simpleCart_items .itemRow td span,
.simpleCart_items .itemRow td h6 {
  text-shadow: none !important;
}

#carrito .modal-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 1em;
}
#carrito .simpleCart_empty {
  color: #000 !important;
  text-decoration: underline;
}
#carrito .ui-icon-car {
  background-color: #f90f00 !important;
  color: #fff !important;
  text-align: center !important;
  border-radius: 0.2em;
  border-color: #ddd !important;
  height: 45px !important;
}

#DatosCarritos .CarritoFoot {
  border: solid 1px #7a7a7a;
  margin: 0;
  padding: 0;
}

#DatosCarritos .tdFoot {
  padding: 0;
}
#carrito tr:nth-child(even) {
  background-color: #f2f2f2;
}
#carrito .simpleCart_empty {
  font-size: 14px;
}
#carrito .row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  min-height: 1px;
}
#carrito .item-decrement a,
#carrito .item-increment a {
  background: transparent;
  padding: 5px;
  color: #f90f00 !important;
  font-size: 15px;
  font-weight: bold;
}

#carrito .btn {
  width: 100%;
  height: 45px;
  padding: 0px 5px;
  font-size: 13px;
  text-transform: none;
}

#busquedapedido .input-field .prefix ~ label {
  margin-left: 0rem;
}

#divcontado .btn-large {
  height: 37px;
  line-height: 42px;
  font-size: 15px;
  padding: 0px 28px;
  margin-top: 4px;
}
#divcontado #tbnContado {
  width: 100%;
}
.icon-infoInventory {
  display: inline-block;
  font-size: 24px;
  background-image: url(../img/icon/controller-menu.svg);
  width: 24px;
  height: 24px;
}
.icon-infoReport {
  display: inline-block;
  font-size: 24px;
  background-image: url(../img/icon/chart-box-outline.svg);
  width: 24px;
  height: 24px;
}
.icon-inventory {
  display: inline-block;
  font-size: 24px;
  background-image: url(../img/icon/inventario.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.loading {
  width: 200px;
  height: 200px;
  top: 46%;
  left: 22%;
  position: fixed;
  border-radius: 7%;
  z-index: 9999;
}
.loading:after {
  content: "";
  display: block;
  color: #26a69a;
  font-size: 80px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  transform: translateZ(0);
  animation: loading 1.7s infinite ease;
  z-index: 9999;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
#modalFiltro {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding-top: 5px;
  padding-bottom: 25px;
  top: 26px !important;
  max-height: 100%;
  height: auto;
  width: 95%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
#modalFiltro h6 {
  padding: 15px;
}
#modalFiltro #divRemate {
  padding: 8px 6px;
  border: solid 1px #aba8a8;
  border-radius: 6px;
}
#modalFiltro #divChkMarca {
  padding: 8px 6px;
}
#modalFiltro .collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #535162;;
  border-bottom: 1px solid #ddd;
  color: #fff;
}
#modalFiltro .btnfiltro {
  border: none;
  width: 100%;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 27px;
  padding: 5px 8px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

#paginador {
  font-size: 14px;
}
#paginador #btnAtras,
#btnSig {
  padding: 10px;
  border: 0 !important;
  background: #fff;
  color: #000;
}

#paginador select {
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 0px !important;
  font-weight: normal !important;
  text-shadow: none !important;
  border: 0;
}
#paginador a {
  color: #000;
  text-decoration: none;
}
#detalleFactura {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
}
#detalleFactura tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#detalleFactura th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  background-color: #f90f00;
  color: #fff;
  border-radius: 0;
}
#consecutivoModal {
  top: 40% !important;
  height: auto;
}
#consecutivoModal a {
  color: #f90f00;
}
.sweet_containerhidden .select-wrapper {
  display: none;
}

#detalleItem td {
  padding: 5px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
.header-sello .gasket-diameters {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.sello-filtro {
  background-color: #f90f00;
  color: #fff;
  padding: 3px;
}

.row-sellos {
  margin-top: 0;
  padding-top: 0 !important;
}
.rows-sellos .col-sellos {
  padding-top: 5px;
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #f90f00;
}
.col .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#TbCliente {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
#TbCliente td,
th {
  padding: 1px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
#TbCliente .textColumna {
  font-weight: bold;
  font-size: 12px;
}

#TbCliente a {
  color: #000;
  text-decoration: none;
}

.subtitulo {
  font-size: 1.5rem !important;
}

#txtTipoClienteFE,
#txtClienteDV,
#txtAlias,
#txtRazonSocial,
#txtcedula-provincia,
#txtcedula-add-cliente-nt,
#txtcedula-add-cliente-letra-nt,
#txtcedula-folio,
#txtcedula-asiento,
#txttipo-cliente-FE,
#txtTelefonoCliente,
#txtEmailCliente {
  height: 2rem !important;
  margin: 0;
  font-size: 12px;
}

.codigo-barras-input
{
  border-bottom: 1px solid #48a013 !important;
}

#myTableVerificacion {
  border-collapse: collapse !important; /* Combina los bordes de las celdas */
}
#myTableVerificacion th,
#myTableVerificacion td {
  padding: 4px !important; /* Añade un relleno de 8px para separar el contenido del borde */
}
#myTableVerificacion tbody tr:nth-child(even) {
  background-color: #f2f2f2 !important; /* Color de fondo gris tenue para filas pares */
}

#myTableVerificacion tbody tr:nth-child(odd) {
  background-color: #ffffff !important; /* Color de fondo blanco para filas impares */
}
#myTableVerificacion tbody td#articulo {
  text-align: left !important; /* Alinea el contenido de la celda a la izquierda */
}
#myTableLectura {
  text-align: center !important; /* Centrar el texto en las celdas */
}

#myTableLectura td {
  padding: 5px !important; /* Añadir espacio entre los elementos de la tabla */
}
#myTableLectura tbody tr:nth-child(even) {
  background-color: #f2f2f2 !important; /* Color de fondo gris tenue para filas pares */
}

#myTableLectura tbody tr:nth-child(odd) {
  background-color: #ffffff !important; /* Color de fondo blanco para filas impares */
}

/*//////REGLAS PARA EL ENCABEZADO DE L OS CONTENEDORES./////*/

#tblcontenedores tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tblcontenedores tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

#tblbodyLineasOrdenDeCompra {
  border-collapse: collapse !important; /* Combina los bordes de las celdas */
}

#tblbodyLineasOrdenDeCompra th,
#tblbodyLineasOrdenDeCompra td {
  /*border: 1px solid rgb(24, 21, 202);*/ /* Añade un borde de 1px sólido en todas las celdas */
  padding: 8px !important; /* Añade un relleno de 8px para separar el contenido del borde */
}
#tblbodyLineasOrdenDeCompra tbody tr:nth-child(even) {
  background-color: #f2f2f2 !important; /* Color de fondo gris tenue para filas pares */
}

#tblbodyLineasOrdenDeCompra tbody tr:nth-child(odd) {
  background-color: #ffffff !important; /* Color de fondo blanco para filas impares */
}
#tblbodyLineasOrdenDeCompra tbody td#articulo {
  text-align: left !important; /* Alinea el contenido de la celda a la izquierda */
}

/* .sidenav{
    background-color: #4c4e4e !important;
    width: 349px;
  } */

#usuario{
  color: #fff;
}
/* #mobile-demo{
  color: #fff; 
}*/
#mobile-demo {
    width: 20%;
    background: linear-gradient(45deg, #2a3f54, #2a3f54);
    color: #fff;
}

#MenuL{
  color: #fff;
}

#usuario{
  color: #fff !important;
}

#inicio{
  color: #fff !important;
}

#submenu{
      background-color: #2a3f54;
;
}

#tblcontenedores {
  width: 100%;
  font-size: 12px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
}

#cantidadDeRegistros{
  font-size: 1em;
}

.mensajeText{
  height: 200px; 
  overflow-y: scroll;  
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #596571;
}
#usuariocodigo {
  color: #474343 !important;
}

#bodegaSelectOC {
  width: 20%; /* Ocupa todo el espacio disponible dentro de su contenedor */
}

#bodegaButtonOC {
  width: 20%; /* Ocupa todo el espacio disponible dentro de su contenedor */ 
}

#bodegaSelect {
  width: 100%; /* Ocupa todo el espacio disponible dentro de su contenedor */
}

#bodegaButton {
  width: 100%; /* Ocupa todo el espacio disponible dentro de su contenedor */ 
}
#lbl_bodega_destino{
  font-size: 1rem !important;
  color: #837f7f;
}

#titulo-oc{
  text-align:center ;
  text-transform: uppercase;
}
.lineasocstyle{
  width: 10%;
}

.titulo-vista{
  text-align:center ;
  text-transform: uppercase;
}

.switch-button{
  margin-bottom: 10px;
}

.label-button-switch{
  color: black;
  font-size: 16px !important;
}

#observaciones{ 
    width: 100%;
    height: 8rem;
    background-color: transparent;
}
#lblObservaciones{
  position: relative;
}


#myTableresumen {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTableresumen td, #myTableresumen th {
  border: 1px solid #e0e0e0; /* Bordes más claros */
  text-align: center;
  padding: 6px; /* Espaciado reducido */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-weight: normal; /* Texto no enfatizado */
}

#myTableresumen tr:nth-child(even) {
  background-color: #f2f2f2 /* Color de fondo suave */
}

#myTableresumen tr:nth-child(odd) {
  background-color: #ffffff; /* Fondo blanco */
}

#myTableresumen th {
  background-color: #7e8180;
  color: white;
  font-size: 15px; /* Tamaño de fuente más discreto */
  font-weight: bold; /* Enfatizar encabezados */
  border-bottom: 2px solid #dddddd; /* Línea de separación clara */
}

#myTableresumen tr:hover {
  background-color: #eaf2f8; /* Suave color al pasar el mouse */
}
.imgLogin {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto; /* para centrar la imagen horizontalmente */
  margin-right: auto; /* para centrar la imagen horizontalmente */
}

.buttonAnimateClass {
  min-width: 100%;
  min-height: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;  
  color: #fff;
  background: #48a013;
  background: linear-gradient(90deg, #26a69a, rgba(79, 209, 197, 1) 100%);
  border: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.buttonAnimateClass::before {
  content: "";
  /* min-width: calc(300px + 12px);
  min-height: calc(60px + 12px); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.buttonAnimateClass:hover,
.buttonAnimateClass:focus {
  color: #313133;
  transform: translateY(-6px);
}

.buttonAnimateClass:hover::before,
.buttonAnimateClass:focus::before {
  opacity: 1;
}

.buttonAnimateClass:hover::after,
.buttonAnimateClass:focus::after {
  animation: none;
  display: none;
}

.inputClass {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #48a013;
  color: #000;
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
}

.centerMainClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.respConteClass {
  width: 100%;
  max-width: 450px; /* ancho máximo */
  min-width: 300px; /* ancho mínimo */
}

/*///////////////REGLAS PARA MOVILIDAD DEL LOGIN////////////////////*/

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 87%;
  /* padding: 40px; */
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Large and up */
@media screen and (min-width: 64em) {
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
}

.login-box .user-box label{
  /* position: absolute; */
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #26a69a;
  pointer-events: none;
  transition: .5s;    
}

.login-box form a {
  position: sticky;
  display: inline-block;
  padding: 12px 16px;
  color: #26a69a;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  width: 90%;
  MARGIN: 0 AUTO;
  text-align: center;
  margin-left: 5%;
}


.login-box a:hover{
  background: #26a69a;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #26a69a,
              0 0 25px #26a69a,
              0 0 50px #26a69a,
              0 0 100px #26a69a;
}
.login-box a span{
position: absolute;
display: block;
}
/*animacion del boton submit*/
.login-box a span:nth-child(1){
       top: 0;
       left: -100%;
       height: 2px;
       width: 100%;
       background: linear-gradient(90deg,transparent,#26a69a);
       animation: btn-anim1 1s linear infinite;      
}

@keyframes btn-anim1 {
  0%{
      left: -100%;
  }
  50%{
      left: 100%;
  }
}
.login-box a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#26a69a);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
} 
@keyframes btn-anim2 {
  0%{
      top: -100%;
  }
  50%{
      top: 100%;
  }
}

.login-box a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#26a69a);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}
@keyframes btn-anim3 {
  0%{
      right: -100%;
  }
  50%{
      right: 100%;
  }
}
.login-box a span:nth-child(4){
  bottom: 0;
  left: -0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #26a69a);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}
@keyframes btn-anim4 {
  0%{
      bottom: -100%;
  }
  50%{
      bottom: 100%;
  }
}   
/*///////////////////////OTREAS REGLAS DEL LOGIN//////////////////////////////*/

#label-login {  
  top: -36px;  
  color: #26a69a;
}
.relative-position {
  position: relative;
}
.visibility-icon {
  position: absolute;
  right: 10px;
  top: 0;
}



/* ====== HEADER ====== */

navbar {
  position: relative;
}
#total_reg {
  color: #000;
  font-style: italic;
  font-size: 15px;
}
#nav-cart {
  position: relative;
}
#nav-cart-count {
  position: absolute;
  top: 4px;
  right: 2px;
  font-weight: bold;
  color: #000;
  width: 22px;
  text-align: center;
  padding: 2px;
  background: #ffffff;
  border-radius: 50%;
  height: 22px;
  display: block;
  line-height: 1.4;
  font-size: 13px;
}
.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
  border-radius: 50%;
}
nav.nav-extended {
   /* background-color: #26a69a!important; */
   /* background: linear-gradient(135deg, #867e7e, #184321); */
/* background: linear-gradient(135deg, #26a69a, #26a69a); */
background: linear-gradient(135deg, #2a3f54, #2a3f54);

}

/* ====== BUSCADOR ====== */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.s1 {
  width: 8.3333333333% !important;
}
.s2 {
  width: 16.6666666667% !important;
}
.s3 {
  width: 25% !important;
}
.s4 {
  width: 33.3333333333% !important;
}
.s5 {
  width: 41.6666666667% !important;
}
.s6 {
  width: 50% !important;
}
.s7 {
  width: 58.3% !important;
}
.s8 {
  width: 66.64% !important;
}
.s9 {
  width: 74.97% !important;
}
.s10 {
  width: 83.3% !important;
}
.s11 {
  width: 91.6% !important;
}
#col {
  width: 100% !important;
}

.buscador .search-action {
  background: linear-gradient(135deg, #7e8180, #7e8180);
  /* background: linear-gradient(135deg,#91a6bb ,#26a69a); */
  /* background: linear-gradient(135deg, #352c2c, #0e2c15);  */
  background-color: #4f4b6b;  
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #535162;
  height: 47px;             
  width: 90% !important;    
  padding: 0 !important;       
  margin-top: 4px!important;   
  color: #fff;
}
.buscador #articulo {
  background: #fff !important;     
  padding-left: 8px !important;
  height: 45px !important;  
  -webkit-border-radius: 5px 0px 0px 5px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.buscador .ui-input-text {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.logo {
  border-bottom: 0 !important;
  padding-bottom: 5px !important;
}
.buscador {
  padding-bottom: 5px;
}
#popupMenu .close-car {
  background-color: transparent !important;
}
.contenedor-sucursales .description-sucursal a {
  background-color: #dcd7cc !important;
  text-transform: uppercase;
  border: solid 1px #adadabe0 !important;
  font-weight: bold !important;
}
.button-search-body,
#Lbusqueda {
  background-color: #000 !important;
  text-align: center !important;
  color: #fff !important;
  text-shadow: 0 0 #000 !important;
}
.ui-btn span {
  text-align: left !important;
}

.buscador .search-action a:visited,
.buscador .search-action:hover {
  background: #000 !important;
  border: 1px solid #000;
}
.buscador #textinput-2 {
  border-radius: 5px 0px 0px 5px;
  border: solid 1px #535162;
  height: 35px;
  font-size: 10px;
}
.buscador .s10.col {
  padding-right: 0;
  padding-top: 5px;
}
.buscador .s2.col {
  padding-left: 0px;
}

.buscador .ui-input-text {
  padding: 0 !important;
}
.ui-header,
.ui-footer {
  border-width: 0px 0 !important;
}
.contenedor-buscador {
  background: linear-gradient(135deg, #2a3f54, #2a3f54);
  /* background: linear-gradient(135deg, #26a69a, #26a69a); */
  /* background: linear-gradient(135deg, #867e7e, #184321); */
  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 6px;
  color: #fff;
  padding: 10px;
}



/* .contenedor-buscador {
  background-color: #26a69a !important;
  border: 1px solid #26a69a !important ;
  box-shadow: 0 0 0 #fff !important;
} */
.buscador .reset-button-tienda {
  padding-left: 0;
  border: 0;
  color: #fff;
  padding-top: 26px;
  width: 70px;
  text-align: center !important;
  margin: 0 auto;
  padding-bottom: 0;
  font-size: 12px !important;
}

.buscador .reset-button-tienda:after {
  width: 10px;
}

.buscador .reset-button-tienda:hover,
.buscador .reset-button-tienda:active {
  background: transparent !important;
  color: #fff !important;
}
.ui-shadow {
  -webkit-box-shadow: 0 1px 1px !important;
  box-shadow: 0 0 0 !important;
}
.buscador .ui-corner-all {
  border-radius: 0 !important;
  height: 35px !important;
  -moz-border-radius: 5px 0px 0px 5px !important;
  -webkit-border-radius: 5px 0px 0px 5px !important;
  margin-top: 5px !important;
  border-radius: 5px 0px 0px 5px !important;
 
}
#input-field-col {
  width: 100% !important;
}
/* #p {
  top: 10px !important;
  right: 20px !important;
} */
.nav-extended .row {
  margin-bottom: 0% !important;
}
.datepicker-date-display .year-text {
  display: none !important;
}
.datepicker-calendar-container .btn-flat.datepicker-cancel.waves-effect {
  width: 60% !important;
}
.sub-header {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  margin: 15px 0;
  font-family: Arial, Helvetica, sans-serif;;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
} 

.brand-logo img {
  width: 90% !important;
  margin-left: 10% !important;
  max-width: 350px;
}
.input_expand {
  width: 100% !important;
  height: 40px !important;
  border: solid 1px #727272 !important;
  border-radius: 5px !important;
}

.show-existencia {
  text-align: left;
  margin-top: 10px;
  color: #000;
  font-weight: normal;
}
.show-obligatorios {
  margin: 20px 0;
  color: #000;
  color: #444;
  font-size: 13px;
}
.filtrar-filtros {
  margin-top: 20px;
}
.text-bold {
  font-weight: bold;
}
.filtros-data {
  margin-top: 10px;
}
.filtros-data thead th {
  padding: 5px 5px !important;
}
.filtros-data thead tr {
  background: #535262;
  color: #fff;
  font-weight: normal;
}
.filtrar-filtros .grey.darken-2 {
  background: #535262 !important;
}
.filtros-data td,
th {
  border-radius: 0;
}
.filtros-data tbody tr {
  border-bottom: solid 1px #000;
  border-collapse: collapse;
}
.filtros-data h6 {
  font-size: 14px;
}
.filtros-data .codigo {
  color: #f80f00;
}
.filtros-data .description {
  color: #000;
  font-weight: bold;
}
.filtros-data .marca {
  color: #666;
}
.font-encontrado {
  position: absolute;
  margin-top: -5px;
}
.expand-car {
  width: 100%;
  height: auto !important;
}
/* 
.link-flotante-acciones {
  padding-bottom: 35px;
} */
/* #envoltorio {
  min-height: 170px;
  height: 100% !important;
} */
/* #envoltorio .dropdown-content {
  min-width: 38px !important;
} */
.tooltips-luciano {
  position: absolute;
  top: 0;
  background: #fffdfd;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  left: 1px;
  display: none;
  border: solid 1px #000;
  font-size: 11px;
  z-index: 100;
}
.tooltips-luciano td,
.tooltips-luciano th {
  padding: 5px 0;
  font-weight: bold;
} 
 #tblcliente tbody tr td:nth-child(3n) {
  text-align: center;
}
.input-border {
  border: solid 1px #a7a3a3 !important;
  border-radius: 5px !important;
}
/* .menuTitulo {
  margin: 0 !important;
  padding: 10px 5px !important;
} */
#usuario {
  font-weight: bold;
}
#mobile-demo .collapsible li {
  position: relative;
}
#mobile-demo .sidenav #submenu li > a.btn-floating {
  margin-top: -35px !important;
}
#mobile-demo #submenu .collection-item {
  padding-bottom: 5px;
}
.sidenav li > a.btn-floating {
  margin-top: -40px;
  background-color: white;
}
#mobile-demo .collapsible li {
  margin-bottom: 15px;
}
#mobile-demo .collapsible li:first-child {
  margin-bottom: 0;
}
#mobile-demo .sub-header {
  padding: 15px 0 0 0;
}
/* #mobile-demo .collapsible-header,
#mobile-demo .collapsible li,
#mobile-demo .collection a {
  font-weight: bold;
} */
nav a.sidenav-trigger {
  display: block;
}
#home main {
  padding-top: 207px;
}
.margen-pedido {
  padding-top: 5px;
  color: #fff !important;
}
#tblpedido {
  width: 100%;
  font-size: 12px;
  color: #000000;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
}
#tblpedido tbody:nth-child(odd) {
  background: #a8e3b6 !important;
  display: none;
}
#tblpedido tbody:nth-child(even) {
  background: #c9d1cb !important;
}
#tblpedido tbody:nth-child(4n) {
  background: #fff !important;
}

/* Estilos básicos para el paginador */
.resumen-paginador{
  margin-left: 31em;
  margin-bottom: 20px;
}
.paginador-container {
  margin: 0 auto;
  width: 30%;
}
.paginador-info {
  margin-bottom: 10px;
}
.paginador-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
}
.paginador-btn-container, .paginador-select-container {
  display: inline-block;
}
.paginador-btn {
  cursor: pointer;
  color: #28a745; /* Color clickable, ajusta según tu tema */
  text-decoration: none;
  padding: 5px 10px;
}
.paginador-btn.disabled {
  color: #aba7a7; /* Color deshabilitado */
  cursor: not-allowed;
}

.paginador-select {
  display: inline-block;
  width: auto; /* Ajusta al contenido */
  min-width: 80px; /* Tamaño mínimo para evitar que sea demasiado pequeño */
}

.detalle-pedido {
    margin-left: -4px !important;
    margin-right: 3px !important;
}


#forms .select-wrapper input.select-dropdown {
  width: 97%;
}
.select-wrapper .caret {
  right: 5px;
}
.agregar-cliente .menu-text {
  padding-bottom: 20px;
}
#datosTable .row:first-child {
  margin-bottom: 25px;
}
.orden-compra {
  background: #c1c0c0 !important;
  border: solid 1px #8b8b8b !important;
  border-radius: 5px !important;
  height: 33px !important;
}
.orden-compra::-webkit-input-placeholder {
  color: #777676;
  padding-left: 5px;
}
.orden-compra:-moz-placeholder {
  color: #777676;
  padding-left: 5px;
}
.orden-compra::-moz-placeholder {
  color: #777676;
  padding-left: 5px;
}
.orden-compra:-ms-input-placeholder {
  color: #777676;
  padding-left: 5px;
}
.icon-up {
  animation-duration: 6s;
  transition-duration: 2s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-down {
  animation-duration: 6s;
  transition-duration: 2s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/*css del modal de las bodegas que se despliega en el header*/
#bodega_sucursales {
    width: 25%;
    height: 94%;
    top: 29px !important;   
    max-height: 100% !important;   
}
#bodega_sucursales .modal-content {
  padding: 24px !important;
}
.header-sucursal {
  /* background: #26a69a; */
  background: #3f6d69;
  color: #fff;
  padding: 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
}
#bodega_sucursales .modal-content .sucursal a {
  background-color: #535162 !important;
  text-transform: uppercase;
  border: solid 1px #adadabe0 !important;
  color: #ffffff;
  font-weight: normal !important;
  border-radius: 15px;
}
#bodega_sucursales .sucursal {
  border: solid 1px #ddd;
  margin-top: 10px;
}
#bodega_sucursales .description-sucursal {
  padding: 10px;
}
#bodega_sucursales strong {
  font-weight: bold;
}
#bodega_sucursales .modal-header {
  position: relative;
}
#bodega_sucursales .modal-header a {
  width: 120px;
  position: absolute;
  right: 0;
  top: -20px;
  font-weight: bold;
}
#bodega_sucursales .modal-header a .material-symbols-outlined {
  margin-top: 5px;
}
.ubica-bodega {
    margin-left: 35px; 
}
.header-cliente {
  padding: 10px;
  font-weight: normal;
  text-align: center;
  background: #2e2d2d;
  border-radius: 5px;
  color: #fff;
  border: solid 1px #000;
}
.num-cliente {
  font-weight: bold;
  color: #e36003;
}
.close-modal {
  position: relative;
  max-width: 120px;
  float: right;
  font-size: 13px;
}
.close-modal a {
  width: 100%;
  height: auto;
  font-weight: bold;
  padding-right: 0;
}
.close-modal span {
  margin-top: 5px;
  font-weight: bold;
}
.close-modal .text {
  margin-left: 15px;
  font-size: 13px;
}
.footer-menu span {
  display: block;
}
.footer-menu {
  padding: 5px 0;
}

.page-footer {
  background-color: #000;
}

footer .waves-effect {
  height: 50px;
  border-left: solid 2px #fff;
}

footer .waves-effect:first-child {
  border-left: solid 0px #fff;
}

#save_articulos_cliente .btn-large {
  width: 100%;
}

.collapsible li.active i {
  -ms-transform: rotate(225deg);
  /* IE 9 */
  -webkit-transform: rotate(225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(225deg);
  animation: fadeIn 5s;
}

.collapsible-header.active i {
  -ms-transform: rotate(225deg);
  /* IE 9 */
  -webkit-transform: rotate(225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(225deg);
  animation: fadeIn 5s;
}

.collapsible-header.active i.expand {
  -ms-transform: rotate(225deg);
  /* IE 9 */
  -webkit-transform: rotate(225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(225deg);
  animation: fadeIn 5s;
}

li.active .collapsible-header .material-icons.iconcollapse {
  -ms-transform: rotate(225deg);
  /* IE 9 */
  -webkit-transform: rotate(225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(225deg);
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transition-delay: 2s, 4ms;
  }
}
/* RESET HEADER COLLAPSIBLE */
#mobile-demo li.active i,
#collap-marca li.active i,
#collap-anio li.active i,
#collap-modelo li.active i,
#collap-version li.active i,
#collap-rin li.active i {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

#mobile-demo .collapsible-header.active i,
#collap-marca .collapsible-header.active i,
#collap-anio .collapsible-header.active i,
#collap-modelo .collapsible-header.active i,
#collap-version .collapsible-header.active i,
#collap-rin .collapsible-header.active i {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

#mobile-demo .collapsible-header.active i.expand,
#collap-marca .collapsible-header.active i.expand,
#collap-anio .collapsible-header.active i.expand,
#collap-modelo .collapsible-header.active i.expand,
#collap-version .collapsible-header.active i.expand,
#collap-rin .collapsible-header.active i.expand {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

#mobile-demo li.active .collapsible-header .material-icons.iconcollapse,
#collap-marca li.active .collapsible-header .material-icons.iconcollapse,
#collap-anio li.active .collapsible-header .material-icons.iconcollapse,
#collap-modelo li.active .collapsible-header .material-icons.iconcollapse,
#collap-version li.active .collapsible-header .material-icons.iconcollapse,
#collap-rin li.active .collapsible-header .material-icons.iconcollapse {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
#datosTable .contenido {
  text-align: right;
}
/* #analisis_ventas {
  padding-top: 20px;
} */
/* #analisis_ventas .tabs .tab a.active {
  text-transform: capitalize;
  font-weight: bold;
}
#analisis_ventas .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #b71c1c;
  will-change: left, right;
} */
.subheader-grafica {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 0.875rem;
}
.contenedor-graficas {
  background: #fff;
  border-radius: 0px;
  padding: 0px;
  margin: 10px 0;
  border-bottom: solid 0px #ddd;
  position: relative;
}
.contenedor-graficas .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
}
.sidenav #submenu li > a.btn-floating {
  margin-top: -34px;
}
#submenu li:nth-child(2n) {
  margin-bottom: 0px;
}
.textclose-sesion {
  font-weight: bold;
  color: #fff !important;
  display: block;
  padding: 5px;
  font-size: 13px;
}
.close-session a {
  padding: 5px 5px;
  border: solid 1px #26a69a;
  display: block;
  border-radius: 5px;
}
#reportes .page-footer .waves-effect {
  width: 23%;
  font-size: 12px;
}
#reportes .page-footer .waves-effect {
  height: 50px;
  border-left: solid 1px #fff;
}
#reportes .page-footer .waves-effect:first-child {
  border-left: solid 0px #fff;
}
table.striped > tbody > tr:nth-child(odd) {
  background-color: #c9d1cb;
}
.contenedor_ventasmesactual h6 {
  padding: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
}
#total_ventas_dia {
  font-weight: bold;
}
/* Medium and up */
@media screen and (min-width: 40em) {
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  main {
    padding-top: 200px;
  }
}

.app-technology {
  height: auto;
  flex: 1 0 auto;
  min-width: 100%;
  position: relative;
}

/* #promocionActiva {
  display: none;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #f80f00;
  padding: 5px 0;
  opacity: 0.8;
  top: -2px;
} */

nav-section {
  height: auto;
  flex: 1 0 auto;
  min-width: 100%;
}
nav-section[data-index="3"] {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.87);
}
nav-section .section-container {
  flex: 1;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  box-shadow: -3px 0 3px rgb(0 0 0 / 30%);
  background-color: inherit;
  z-index: 4;
}
nav-section article {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.app-technology ul {
  list-style: none;
  margin: 0 12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: 24px;
  margin-right: 24px;
}
.app-technology ul li {
  display: inline-block;
  margin: 12px;
  max-width: 120px;
  min-width: 100px;
  max-height: 124px;
  min-height: 124px;
  background-color: white;
  padding-bottom: 55px;
  box-shadow: 0 8px 4px -1px rgb(0 0 0 / 20%), 0 3px 4px rgb(0 0 0 / 10%),
    0 2px 4px rgb(0 0 0 / 10%);
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}
.app-technology ul li.card-item-es6 img {
  margin: 0;
  max-height: 120px;
  max-width: 120px;
}
.app-technology ul li img {
  display: block;
  width: inherit;
  max-width: inherit;
  max-height: 100px;
  max-width: 100px;
  margin: 10px 10px 0 10px;
}
.app-technology ul li span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
  height: 40px;
  margin-bottom: 10px;
}
#tblcotizacion td,
th {
  padding: 8px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  text-align: center;
}
#tblcotizacion .btnedit {
  position: relative;
  top: -6px;
}
#tblcotizacion .btnprint {
  position: relative;
  top: 2px;
}

/* Css metas-vendedor */

.colreporte{
  width: 66% !important;
}

.tblmetasvendedor td{
  text-align: center;
  padding: 0;
}

.tdmetasvendedortitulo
{
  font-size: larger;
}

#switchLecturaContainer{
  margin-top: 2em;
}

/* ====== MENÚ LATERAL ====== */
.icon-chevron-right-circle {
  display: inline-block;
  font-size: 24px;
  background-image: url("../img/icon/chevron-right-circle.svg");
  width: 24px;
  height: 24px;
}
.icon-usuario {
  display: inline-block;
  font-size: 32px;
  background-image: url("../img/icon/icon-user.svg");
  width: 32px;
  height: 32px;
}
.icon-usuario-activo {
  display: inline-block;
  font-size: 32px;
  background-image: url("../img/icon/icon-user2.svg");
  width: 32px;
  height: 32px;
}
.icon-infoPrecio {
  display: inline-block;
  font-size: 24px;
  background-image: url("../img/icon/information.svg");
  width: 24px;
  height: 24px;
}
#iconCard {
  display: none;
}


.sidenav .collapsible {
    margin: 6px 43px 6px 22px;
    font-size: 14px !important;
}

.sidenav #submenu li > a.btn-floating {
    margin: 0px 296px;
    margin-top: -25px;
    border-radius: 20px;
}
.sidenav #submenu li > a > i.material-icons {
  float: left;
  height: 83px;
  line-height: 24px;
  margin: 0 37px 0 0;
  width: 23px;
  color: rgb(255 255 255);
}
.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #2a3f54;
}
.sidenav li.active {
    background-color: rgb(42 63 84);
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0;
}

#mobile-demo.collection .collection-item {
  padding-left: 0px;
}

#mobile-demo .collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

#mobile-demo .collection a.collection-item {
  display: block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
}

#mobile-demo .collection a > i.material-icons {
   font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.red.darken-5 {
  background-color: #efe9e9 !important;
  padding: 0px;
}
.grey.lighten-2 {
  background-color: #ebdbdb !important;
  border-top: solid 1px #ffffff70;
}
.grey.lighten-2 {
  background-color: #fdfdfd !important;
}
.grey.lighten-3 {
  background-color: #fdfdfd !important;
}
#menuHome {
  margin: 0 0 0.5rem 0;
  border-radius: 2px;
  border: 0;
  color: #faf2f2;
}
.card-panel1 {
  padding: 0;
  margin: 5px 0 -0.5rem 0;
  border-radius: 2px;
  border: 0;
  color: #070606;
}
.img.responsive {
  color: #f30909;
  fill: rgb(255, 0, 0);
}
.menuLista {
  color: #000;
  font-weight: bold;
}
.menuTitulo1 {
  color: rgb(12, 9, 9);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.menuTitulo {
  color: #fff;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(135deg, #2a3f54, #5081b1);
  /* background: linear-gradient(135deg, #91a6bb, #26a69a); */
   font-family: Arial, Helvetica, sans-serif;
  font-weight: 700; /* equivale a bold */
  margin: 0 !important;
  padding: 10px 5px !important;
}


/* .menuTitulo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  background-color: #26a69a;
  font-family: "Jura", sans-serif;
  font-weight: 700; 
} */
.menu-text span {
  color: #000;
  font-weight: 600;
}
#menup {
  background-color: #fff;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 8px;
  margin: 0 auto;
  margin-left: 4em;
}

#menup a {
  text-decoration: none;
  font-weight: bold;
}

/***MENU****/
.btn-floating.btn-large {
  width: 22px;
  height: 23px;
  padding: 0;
}
.sidenav li > a.btn-floating {
  margin: -6px 234px;
  margin-top: -25px;
  border-radius: 20px;
}
.sidenav li > a > i.material-icons {
  float: left;
  height: 83px;
  line-height: 24px;
  margin: 0 37px 0 0;
  width: 23px;
  color: rgb(255 255 255);
}
.btn-large i {
  font-size: 1rem;
}
.cancel {
  margin: -6px 234px;
  margin-top: -25px;
}
i.left {
  float: left;
}
i.right {
  float: right;
}
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 1px;
  line-height: 54px;
}
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 1px;
  line-height: 54px;
  position: relative;
  top: -4px;
  right: 7px;
}
#material-icons1-left {
  display: relative;
  top: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 1.6;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: -12px;
  top: -30px;
}
#material-icons1-right {
  display: relative;
  top: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 1.6;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: -79%;
  top: -12%;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 23px;
  line-height: 50px;
  right: 15px;
}
.collection.with-header .collection-item {
  padding-left: 0px;
}
#reset-right-btn {
  border: none;
  display: inline-block;
  height: 46px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

#material-icons1-left-reset-right {
  display: relative;
  top: 20px;
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  line-height: 1.6;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: -11px;
  top: -12px;
}

table {
  width: 100%;
  display: table;
  border-collapse: inherit;
  border-spacing: 0;
}

.collection a.collection-item {
  display: block;
  text-transform: uppercase;
  margin: 0 0 4px 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #000000;
  background-color: #bdbdbd;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
   /* background: linear-gradient(45deg, rgba(0,0,0,0.42), #6c757d); */
  line-height: inherit;
  height: inherit;
  padding: 0 0;
}
.sidenav .collapsible-header i {
  width: 24px;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}
/* .sidenav li.active {
  background-color: #fff;
} */
/* 
.menu-background {
  background-color: #4c4e4e;
  color: #ffffff; 
}

.menu-background a {
  color: #ffffff; 
} */
/* 
.menu-background .material-symbols-outlined {
  color: #ffffff; 
} */

#retornar{
  font-size: 4em;
}

.submenu-enlace {
  margin-right: -3px;
  margin-top: 18px;
  font-size: 13px;
  padding-left: 32px;
}

.label-existencias-busqueda{
  color: white;
}
#sinExistencias + span:before {
  border: 2px solid #fff !important;
}
#sinExistencias.filled-in + span:before {
  border: 2px solid #fff !important;
}
#sinExistencias:checked + span:before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none !important;
  background: transparent !important;
}
/*=============================== DASHBOARD===================================*/
.title-card-dash{
  font-size: 40px;
}

td, th { 
  text-align:center;  
}

#dash-img1 {
  background: #4caf50 !important;
  width: 21%; 
}

#dash-img2{
  background: #5abef9;
  width: 21%;
}
#dash-img3{
  background: #f6f779;
  width: 21%;
}
#dash-img4{
  background: #007bff;
  width: 21%;
}

/* ======================== LOATION SUCURSALES   =================================== */
.shop-bodegas {
  background: linear-gradient(135deg, #2a3f54, #2a3f54);
  /* background: linear-gradient(135deg, #26a69a, #26a69a); */
  /* background: linear-gradient(135deg, #867e7e, #184321); */
  /* background: #26a69a; */
  border-top: solid 1px #ffffff70;
  padding: 4px 0 !important;
}

.shop-bodegas a {
  color: #fff;
}

.shop-bodegas button {
  margin-top: 0;
}

.shop-bodegas img {
  width: 20px !important;
}

.shop-bodegas h6 {
  font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #fff !important;
  margin-left: -31px;
  position: relative;
  left: 4px;
  top: 6px;
}

.shop-bodegas .text-right {
  text-align: right;
}

.shop-bodegas .img {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.contenedor-sucursales {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 1em;
}

.contenedor-sucursales .sucursal {
  border: solid 1px #ddd;
  margin-top: 10px;
}

.contenedor-sucursales .header-sucursal {
  background: #000;
  color: #fff;
  padding: 5px;
  margin: 0;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
}

.contenedor-sucursales .description-sucursal {
  padding: 5px 15px;
}

.contenedor-sucursales h6,
.contenedor-sucursales span {
  margin: 0;
  padding: 0;
  font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}

.contenedor-sucursales h3 {
  font-size: 17px;
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
}

.contenedor-sucursales .description-sucursal a {
  background: #dcd7cc !important;
  color: #000;
  border: solid 1px #dcd7cc !important;
  font-size: 13px !important;
  text-align: center !important;
}

.contenedor-sucursales .sucursal-display {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.reset-info-bodega {
  padding-left: 0 !important;
}






/*=============================== LOADING ===================================*/
.loading {
    border: transparent; /* Gris claro */
    border-top: transparent; /* Azul */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }


/* ====== COLOR  ====== */
:root {
  --color-primary: #000; /* Color principal predeterminado (rojo) */
}

.themeColor{
  background-color:#6c757d !important;
  color:white;
}
.themeColor2{
  background-color: #6c757d !important;
  color: white;
}

tr.themeColor {
  align-content: center;
}

th.themeColor{
  text-align: center;
}

/*=============================== CUERPO VISTAS ===================================*/

#documento,
#pedido,
#estadoPedido {
  font-size: 20px;
  
}

.tabs .tab a {
  color: rgba(0, 0, 0, 0.7);  
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #000000;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #0000001a;
  outline: none;
}
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000;
  will-change: left, right;
}
.container-tabs {
  padding-top: 0px !important;
}

/*////////////// UBICACION//////////////////////////////////////*/

/* Estilo del contenedor del input */
.input-container-ubicacion {
  display: flex;
  flex-direction: column;
 /* align-items: center;*/
  margin: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del label */
.input-container-ubicacion label {
  font-size: 14px;
  font-weight: bold;
  color: #4CAF50; /* Verde suave */
  margin-bottom: 5px;
}

/* Estilo del input */
.input-ubicacion {
  width: 100%;
  max-width: 300px; /* Limita el ancho máximo */
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #ddd; /* Borde suave */
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Placeholder estilizado */
.input-ubicacion::placeholder {
  color: #bbb;
  font-style: italic;
}

/* Efecto hover */
.input-ubicacion:hover {
  border-color: #4CAF50; /* Cambia el borde al pasar el mouse */
}

/* Efecto de enfoque */
.input-ubicacion:focus {
  border-color: #4CAF50; /* Verde suave */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra alrededor */
}

/* Contenedor del botón */
.btn-container-conteo {
  display: flex;
  margin-top: 10px; /* Espaciado superior */
  margin-bottom: 1em;
}

/* Estilo para el botón guardar */
.btn-guardar-conteo {
  /* background-color: #26a69a; */
  background-color: #218838;
  border-radius: 5px;
  color: white;
  height: 36px;
  border: none;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  height: 42px;
  margin-right: 52px;
  margin-top: 3rem !important;
}

/* Hover para el botón */
.btn-guardar-conteo:hover {
  background-color: #679170;
}

/* Focus para el botón */
.btn-guardar-conteo:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.datepicker-date-display {
    background-color: #26a69a;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #26a69a;
    padding: 0 1rem;
}

